body{
  background:#f5f7fb;
  font-family:Arial, Helvetica, sans-serif;
}

.payment-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.payment-card{
  background:white;
  padding:30px;
  width:350px;
  border-radius:12px;
  box-shadow:0 8px 25px rgba(0,0,0,0.1);
  text-align:center;
}

.payment-card h2{
  margin-bottom:10px;
}

.price{
  font-size:26px;
  color:#0070ba;
  font-weight:bold;
}

.desc{
  color:#555;
  margin:15px 0;
}

.paypal-button{
  margin-top:20px;
}